<mat-card class="center">
    <img src="{{exercise.imagePath}}" alt="" class="img-responsive" style="max-height: 200px;">
    <p>{{ exercise.name }}</p>
    <p>{{ exercise.description }}</p>

    <div class="row">
      <div class="col-sm-6">
        <h3>Weight</h3>
      </div>
      <div class="col-sm-6">
          <h3>Reps</h3>
      </div>
    </div>
    <div class="row" *ngFor="let set of sets">
      <div class="col-sm-6">
        {{ set.weight }}
      </div>
      <div class="col-sm-6">
        {{ set.reps }}
      </div>
    </div>
    <form #f="ngForm" (ngSubmit)="onAddSet(f)">
    <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Weight" ngModel name="weight">
                  </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Reps" ngModel name="reps">
                  </mat-form-field>
            </div>
          </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </div>
  </form>
  </mat-card>